swagger: "2.0"
info:
  description: "This represents API spec for Pricing Service."
  version: "1.0.0"
  title: "Swagger Pricing Service"
  contact:
    email: "raghu@xyz.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "xyz.com"
basePath: "/v1/lms"
tags:
- name: "pricing"
  description: "Everything about course pricing"
schemes:
- "http"
paths:
  /course/{courseId}/price:
    get:
      tags:
      - "pricing"
      summary: "Find Pricing by Course ID"
      description: "Returns a Pricing Details"
      operationId: "getPriceByCoursId"
      produces:
      - "application/json"
      parameters:
      - name: "courseId"
        in: "path"
        description: "ID of Course for which Pricing return"
        required: true
        type: "integer"
        format: "int64"
      - name: "locale"
        in: header
        description: "Locale which tells for which area Pricing is Requested. E.g. INR / USD"
        required: true
        type: "string"
        enum:
          - "INR"
          - "USD"
      responses:
        200:
          description: "Successfull Retrieval"
          schema:
            $ref: "#/definitions/CoursePricingResponse"
        400:
          description: "Invalid Request."
          schema:
            $ref: "#/definitions/ErrorResponse"
        404:
          description: "Course not found"
          schema:
            $ref: "#/definitions/ErrorResponse"
definitions:
  CoursePricingResponse:
    type: "object"
    properties:
      courseId:
        type: "integer"
        format: "int64"
      price:
        $ref: "#/definitions/Price"
  Price:
    type: "object"
    properties:
      salePrice:
        type: "number"
        example: "600.00"
      price:
        type: "number"
        example: "500.00"
      totalPrice:
        type: "number"
        example: "551.00"
      taxes:
        type: "array"
        items:
          $ref: "#/definitions/Tax"
      currency:
        type: "string"
        description: "Currency of Pricing Response"
        enum:
        - "INR"
        - "USD"
  Tax:
    type: "object"
    properties:
      percentage:
        type: "number"
        example: "10"
      taxAmount:
        type: "number"
        example: "51.00"
      label:
        type: "string"
        example: "GST"
      fixedTaxAmount:
        type: "number"
        example: "0.00"
  ErrorResponse:
    type: "object"
    properties:
      errorCFode:
        type: "integer"
        format: "int64"
      errorMessage:
        type: "string"
